.weather {
  text-align: center;
  border-top: solid 1px #cccccc;
  margin-top: 48px;
  padding: 48px 0;
  .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 450px;
  }
  .toggle-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 48px;
  }
  .weather-container {
    padding: 0 16px;
  }
  @media only screen and (max-width: 1024px) {
    .toggle-container {
      padding: 0 16px;
    }
  }

  @media only screen and (max-width: 600px) {
    .toggle-container {
      justify-content: center;
    }
  }
}
